.cdk-global-overlay-wrapper{
    display: flex;
}

.cdk-overlay-pane.mat-mdc-dialog-panel{
    width: 700px !important;
}

.bottone-th{
    background-color: transparent !important;
    border: none !important;
}