<div>
  <h2 mat-dialog-title>{{ personaEdit.id ? 'Edit' : 'Add'}}</h2>
  <mat-dialog-content>
    <form #editPersonaForm="ngForm">
      <input type="text" name="nome" [ngModel]="personaEdit.nome">
      <input type="text" name="cognome" [ngModel]="personaEdit.cognome">
      <input type="number" name="eta" [ngModel]="personaEdit.eta">
      <select name="sesso" [ngModel]="personaEdit.sesso">
        <option value="M">Maschio</option>
        <option value="F">Femmina</option>
      </select>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex justify-content-end pe-4">
    <div class="me-2">
      <button class="btn btn-danger" mat-button mat-dialog-close>Close</button>
    </div>
    <div>
      <button class="btn btn-success" mat-button (click)="savePersona(editPersonaForm.value)">Save</button>
    </div>
  </mat-dialog-actions>
</div>
