

<table class="table container mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Età</th>
      <th scope="col">Sesso</th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let item of lista$ | async">
        <th scope="row">{{item.id}}</th>
        <td>{{item.nome}}</td>
        <td>{{item.cognome}}</td>
        <td>{{item.eta}}</td>
        <td>{{item.sesso}}</td>
        <td class="d-flex">
          <div class="">
            <button (click)="editPerson(item.id)" type="button" class="btn btn-warning me-3">Edit</button>
          </div>
          <div class="">
            <button (click)="bottoneDelete(item.id)" type="button" class="btn btn-danger">delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="container">
    <button (click)="addPerson()" type="button" class="btn btn-primary me-3">Aggiungi</button>
  </div>



  
  
  
  