<div class="p-3">
    <button (click)="buttonClick()" type="button" class="btn btn-primary">Primary</button>
</div>

<table class="table container">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Cognome</th>
      <th scope="col">Età</th>
      <th scope="col">Sesso</th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
      <tr *ngFor="let item of listaPersone">
        <th scope="row">{{item.id}}</th>
        <td>{{item.nome}}</td>
        <td>{{item.cognome}}</td>
        <td>{{item.eta}}</td>
        <td>{{item.sesso}}</td>
        <td class="d-flex">
          <div class="">
            <button (click)="openDialog(item)" type="button" class="btn btn-warning me-3">Edit</button>
          </div>
          <div class="">
            <button (click)="bottoneDelete()" type="button" class="btn btn-danger">delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
